In [1]:
import pandas as pd

In [2]:
budget_df = pd.read_csv('Resources/budget_data.csv')
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [3]:
months = len(budget_df['Date'])
net_profit = budget_df['Profit/Losses'].sum()

budget_df['Delta'] = None
for i in range(1,len(budget_df)):
    budget_df.loc[i,'Delta'] = budget_df.loc[i,'Profit/Losses'] - budget_df.loc[i-1,'Profit/Losses']

avg_change = round(budget_df['Delta'].mean(),2)


max_increase = budget_df.loc[budget_df["Delta"] == budget_df["Delta"].max(),:]
max_decrease = budget_df.loc[budget_df["Delta"] == budget_df["Delta"].min(),:]

In [4]:
print("Total Months: ", months)
print("Net Profit: $", net_profit)
print("Average Change: $", avg_change) #language on thsi one confusing; ask
print("Greatest Increase in Profits: ", max_increase.iloc[0,0], "$" + str(max_increase.iloc[0,2]))
print("Greatest Decrease in Profits: ", max_decrease.iloc[0,0],"$" + str(max_decrease.iloc[0,2]))

Total Months:  86
Net Profit: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits:  Feb-2012 $1926159
Greatest Decrease in Profits:  Sep-2013 $-2196167

In [7]:
with open("Analysis/PyBank.txt",'w') as pybank:
    pybank.write("Total Months: "+ str(months))
    pybank.write("\nNet Profit: $" + str(net_profit))
    pybank.write("\nAverage Change: $" + str(avg_change)) #language on thsi one confusing; ask
    pybank.write("\nGreatest Increase in Profits: " + str(max_increase.iloc[0,0]) + "$" + str(max_increase.iloc[0,2]))
    pybank.write("\nGreatest Decrease in Profits: " + str(max_decrease.iloc[0,0]) + "$" + str(max_decrease.iloc[0,2]))