In [3]:
import pandas as pd

In [4]:
budget_df = pd.read_csv('Resources/budget_data.csv')
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [18]:
months = len(budget_df['Date'])
net_profit = budget_df['Profit/Losses'].sum()

budget_df['Delta'] = None
for i in range(1,len(budget_df)):
    budget_df.loc[i,'Delta'] = budget_df.loc[i,'Profit/Losses'] - budget_df.loc[i-1,'Profit/Losses']

avg_change = round(budget_df['Delta'].mean(),2)


max_increase = budget_df.loc[budget_df["Delta"] == budget_df["Delta"].max(),:]
max_decrease = budget_df.loc[budget_df["Delta"] == budget_df["Delta"].min(),:]

In [20]:
print("Total Months: ", months)
print("Net Profit: $", net_profit)
print("Average Change: $", avg_change) #language on thsi one confusing; ask
print("Greatest Increase in Profits: ", max_increase.iloc[0,0], "$" + str(max_increase.iloc[0,2]))
print("Greatest Decrease in Profits: ", max_decrease.iloc[0,0],"$" + str(max_decrease.iloc[0,2]))

Total Months:  86
Net Profit: $ 38382578
Average Change: $ -2315.12
Greatest Increase in Profits:  Feb-2012 $1926159
Greatest Decrease in Profits:  Sep-2013 $-2196167

In [31]:
with open("PyBank.txt",'w') as pybank:
    pybank.write("Total Months: "+ str(months))
    pybank.write("\nNet Profit: $" + str(net_profit))
    pybank.write("\nAverage Change: $" + str(avg_change)) #language on thsi one confusing; ask
    pybank.write("\nGreatest Increase in Profits: " + str(max_increase.iloc[0,0]) + "$" + str(max_increase.iloc[0,2]))
    pybank.write("\nGreatest Decrease in Profits: " + str(max_decrease.iloc[0,0]) + "$" + str(max_decrease.iloc[0,2]))

# Pypoll

In [32]:
poll_df = pd.read_csv('Resources/election_data.csv')
poll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [86]:
candidate_votes = poll_df['Candidate'].value_counts()
total_votes = len(poll_df)
candidate_names = list(candidate_votes.index)
candidate_votes = list(candidate_votes.values)

In [101]:
results_df = pd.DataFrame({'Candidate':candidate_names, "Votes":candidate_votes})
results_df["Share"] = round(results_df['Votes']/total_votes*100.0,2)

In [102]:
for i in range(len(results_df)):
    print(results_df.loc[i,:].values)

['Khan' 2218231 63.0]
['Correy' 704200 20.0]
['Li' 492940 14.0]
["O'Tooley" 105630 3.0]

In [91]:
with open("PyPoll.txt",'w') as pypoll:
    pypoll.write("Total votes: "+ str(total_votes))
    for i in range(len(results_df)):
        pypoll.write("\n" + str(results_df.loc[i,:].values))
    pypoll.write("\nWinner: " + str(results_df.loc[results_df['Votes'] == results_df['Votes'].max(),'Candidate'].values))